/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


 

.container_block {
  display: flex;
  align-items: center;
  user-select: none;
}

.minus,
.plus {
  width: 30px;
  height: 30px;
  background: #fff;
  border: 1px solid #DDD;
  border-radius: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.num {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 60px;
  margin: 0 10px;
  background: #fff;
  border: 1px solid #DDD;
  border-radius: 15px;
  font-size: 12px;
  color: #000;
  font-weight: bold;
}

.minus button {
  display: flex;
  width: 10px;
  height: 2px;
  background: #000;
}

.plus button:nth-child(1) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  width: 10px;
  height: 2px;
  background: #000;
}

.plus button:nth-child(2) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  width: 2px;
  height: 10px;
  background: #000;
}