/* .announce-container {
  text-align: center;

  margin: 1.5rem auto; */
/* padding: 3rem 3rem 3rem 3rem; */
/* background-color: rgba(236, 232, 232, 0.384); */
/* color: aquamarine; */

/* border-radius: 0.1rem; */
/* box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15); */
/* box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px; */
/* filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.65)); */
/* } */

.announce-container {
  width: 60%;
  display: flex;
  color: rgb(26, 32, 39);
  background-color: rgba(255, 249, 235, 0.6);
  border-left: 6px solid rgb(244, 192, 0);
  border-top-color: rgb(244, 192, 0);
  border-right-color: rgb(244, 192, 0);
  border-bottom-color: rgb(244, 192, 0);
  padding: 16px;
  margin: 16px 0px;
  border-bottom: 1px solid;
  border-top: 1px solid;
  border-right: 1px solid;
  border-radius: 10px;
  margin: 2rem auto 1rem;
  /* background-color: rgba(236, 232, 232, 0.384);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border-radius: 0.1rem; */
  /* background-color: #FFF3CD; */
  /* text-align: center; */
  /* margin: 3.5rem auto;
  margin-bottom: 4.5rem;
  overflow: hidden;
  max-height: 13rem;
  max-width: 77vw;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center; */
}

.announcment_title {
  margin-bottom: 0;
  color: rgb(199, 142, 35);
  font-weight: bold;
  text-transform: capitalize;
}

.announcement-desc {
  padding-left: 1.6rem;
  font-weight: bold;
  text-transform: capitalize;
}

.announcement-date {
  /* padding-left: 1rem; */
  color: rgb(250, 183, 60);
  /* color: rgb(73, 77, 82); */
  /* background-color: rgba(102, 178, 255, 0.15); */
}
/* .All_announcement {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 12px;
} */

/* .info {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-content: center;
  align-items: center;
  flex-wrap: nowrap;
  // width: 100%;
  padding: 0 4%;
}
.announce-word {
  color: rgba(255, 166, 0, 0.527);
  font-weight: 700;
  font-size: 1.2rem;
} */

.alert-icon {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
  justify-self: start;
  /* color: rgba(255, 166, 0, 0.527); */
  /* width: 7rem; */
  width: 13rem;
  height: 15rem;
  /* padding-top: 8vh; */
  margin-right: 3rem;
}

/* .alert-icon i {
  font-size: 5rem;
  margin: 0rem auto;
  color: rgba(255, 166, 0, 0.527);
  padding: auto auto;
} */

/* .announce-p {
  flex-grow: 8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  padding-left: 6%;
  border-left: 3px solid rgba(255, 166, 0, 0.527);
  //margin-left: 3rem;
  font-size: 1.8rem;
  //font-weight: bold;
  font-family: "Roboto", sans-serif;
} */

/* .announce-p span {
  color: rgba(255, 166, 0, 0.527);
  font-weight: 700;
} */

/* @media only screen and (max-width: 1200px) {
  .info {
    padding: 0 3rem;
  }
}
@media only screen and (max-width: 768px) {
  .info {
    max-width: 60rem;
  }
  .announce-p {
    font-size: 0.2;
  }
} */
